.textoCantidad {
	font-size: 26px;
	font-weight:bold;
	text-align: center;
}

#message {
	color: red;
	text-align: center;
}

.comprado {
	text-decoration:line-through;
}

.ui-header h1 {
	white-space: normal!important;
}