.textoCantidad {
	font-size: 26px;
	font-weight:bold;
	text-align: center;
}

[id^="message"] {
	color: red;
	text-align: center;
}

.comprado {
	text-decoration:line-through;
}

.ui-header h1 {
	white-space: normal!important;
}

.div_check {
	width: 50px;
}

.label_check {
	padding: 7px 0px 7px 0px !important;
	margin: 0px 0px 0px 0px !important;
	border-width: 0px 0px 0px 0px !important;
	width: 50px;
}

.fieldset_check {
	height: 0px !important;
}

.item_check {
	width: 50px;
}

.btnItem{
	padding-left: -5px;
<<<<<<< HEAD
=======
}

#userConfigHelp {
	text-align: center;
	margin-bottom: 15px;
>>>>>>> origin/develop
}